<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>affinity</title>

    <base href="/" />

    <meta name="color-scheme" content="light dark" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!--
      FIXME: this is probably a bit more open than it should be, but the proper CSP for both code-push AND serving ionic is hard
      https://github.com/TeamFranka/affinity/issues/165
    -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * https://codepush.appcenter.ms data: gap: https://ssl.gstatic.com blob: filesystem: about: ws: wss: 'unsafe-inline' 'unsafe-eval' ; script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; connect-src * data: blob: 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src * data: blob: ; style-src * data: blob: 'unsafe-inline'; font-src * data: blob: 'unsafe-inline'; media-src *"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>assets/icon/favicon.png" />

    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Affinity" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  </head>

  <body>
    <script>
      window.AFFINITY_DEFAULT_TEAM = "<%= VUE_APP_DEFAULT_TEAM %>";
    </script>
    <div id="app"></div>
  </body>

</html>

